body {
  margin: 0;
  padding: 0;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
header {
  margin-top: 2rem;
  max-width: 800px;
  width: 100%;
}
#editor {
  max-width: 800px;
  width: 100%;
}
#state {
  max-width: 800px;
  width: 100%;
}
.ProseMirror {
  border: 1px solid #222;
  font-family: "Quattrocento", serif;
  max-width: 50rem;
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 0 1rem;
  margin: 2rem 0;
  white-space: pre-wrap;
}
.hidden {
  display: none;
  visibility: hidden;
}
.mark-view {
  position: relative;
}
.mark-view > .name {
  color: #222;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 2px 0 0;
  position: absolute;
  top: -1.25rem;
  left: 0;
}
p {
  margin: 1rem 0 0 0;
}
